# Local socket:
# - системный пользователь postgres подключается по peer без пароля
# - все остальные локальные пользователи — по SCRAM

# TYPE      DATABASE        USER        ADDRESS         METHOD
{% for rule in postgresql_pg_hba -%}
{{ "%-7s %-15s %-15s %-23s %s" | format(
     rule.type,
     rule.database,
     rule.user,
     rule.address | default(''),
     rule.method
   )
}}
{% endfor %}