---
# Перезапускает сервис PostgreSQL после изменения конфигурации.
# Используется notification из template/postgresql.conf и pg_hba.conf.

- name: Restart PostgreSQL
  ansible.builtin.service:
    name: "{{ postgresql_service_name }}"
    state: restarted
    # Проверяет, что PostgreSQL успешно запустился после перезапуска.
    # Повторяет попытки подключения, пока сервер не станет доступным.
  listen: 'Restart PostgreSQL'

- name: PostgreSQL healthcheck
  community.postgresql.postgresql_ping:
    login_unix_socket: "{{ postgresql_unix_socket_dir }}"
    login_db: "{{ postgresql_login_name }}"
      # Подключение происходит через локальный сокет с использованием пользователя ОС "postgres"
      # к базе данных по умолчанию "postgres". Пароль не нужен благодаря peer authentication.
    register: pg_ping_result
    until: pg_ping_result.is_available | default(False) | bool
      # Ждём, пока модуль postgresql_ping вернёт is_available=True.
      # Условие устойчиво к неопределённому значению (default(False)).
    retries: 20   # Увеличим количество попыток на случай медленного старта
    delay: 3      # Если не получится, то повторится попытка через 3 секунды.
  listen: 'PostgreSQL healthcheck'