#SPDX-License-Identifier: MIT-0
---
# postgresql Health_check
# Create db_table

- name: Ensure roles exist (group + users)
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    password: "{{ item.password | default(omit) }}" # deafault(omit) - если значения нет — веди себя так, будто этого параметра не существует в таске
    role_attr_flags: "{{ item.flags }}"
    state: present
  loop:
    - { name: "{{ app_group_role }}", flags: "NOLOGIN" }
    - { name: "{{ app_user }}",       flags: "LOGIN",  password: "{{ app_user_password }}" }
    - { name: "{{ readonly_user }}",  flags: "LOGIN",  password: "{{ readonly_user_password }}" }

- name: Ensure app_user is member of app_group_role
  community.postgresql.postgresql_membership:
    groups: "{{ app_group_role }}"
    target_roles: "{{ app_user }}"
    state: present

- name: Create database
  community.postgresql.postgresql_db:
    name: "{{ postgresql_db_name }}"
    encoding: "UTF8"  # Provide support for UTF-8 encoding
    state: present

- name: Ensure unaccent extension is installed for db # Делает не просто проверку, а полную идемпотентную операцию "ensure":
  community.postgresql.postgresql_ext:
    login_db: "{{ postgresql_db_name }}"
    name: unaccent
    state: present

- name: Create "book" table
  community.postgresql.postgresql_table:
    login_db: "{{ postgresql_db_name }}"
    name: book
    columns:
      - "id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY"
      - "title VARCHAR(255) NOT NULL"
      - "normalized_title TEXT UNIQUE" # Строка дл
      - "author VARCHAR(100)"
      - "section VARCHAR(50) NOT NULL CHECK (section IN ('IT','Health','Finance','Lifestyle','Network','Spiritual'))"
      - "format VARCHAR(50) NOT NULL CHECK (format IN ('Book','Article','Video','Audio'))"
      - "studytime INTEGER NOT NULL CHECK (studytime IN (15,30,60,90,120))"
      - "link TEXT"
    state: present

- name: Grant privileges and default privileges (RW group + RO user)
  community.postgresql.postgresql_query:
    login_db: "{{ postgresql_db_name }}"
    query: |
      GRANT CONNECT, TEMP ON DATABASE "{{ postgresql_db_name }}" TO "{{ app_group_role }}";
      GRANT CONNECT ON DATABASE "{{ postgresql_db_name }}" TO "{{ readonly_user }}";

      GRANT USAGE, CREATE ON SCHEMA public TO "{{ app_group_role }}";
      GRANT USAGE ON SCHEMA public TO "{{ readonly_user }}";

      GRANT SELECT, INSERT, UPDATE, DELETE
        ON ALL TABLES IN SCHEMA public
        TO "{{ app_group_role }}";

      GRANT SELECT
        ON ALL TABLES IN SCHEMA public
        TO "{{ readonly_user }}";

      GRANT USAGE, SELECT, UPDATE
        ON ALL SEQUENCES IN SCHEMA public
        TO "{{ app_group_role }}";

      ALTER DEFAULT PRIVILEGES FOR ROLE "{{ app_user }}"
        IN SCHEMA public
        GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO "{{ app_group_role }}";

      ALTER DEFAULT PRIVILEGES FOR ROLE "{{ app_user }}"
        IN SCHEMA public
        GRANT SELECT ON TABLES TO "{{ readonly_user }}";
