#SPDX-License-Identifier: MIT-0
---
- name: Restart and healthcheck postgresql
  block:
    - name: Restart PostgreSQL
      ansible.builtin.service:
        name: "{{ postgresql_service_name }}"
        state: restarted
    # Проверяет, что PostgreSQL успешно запустился после перезапуска.
    # Повторяет попытки подключения, пока сервер не станет доступным.

- name: Table healthcheck
  community.postgresql.postgresql_query:
    db: "{{ postgresql_db_name }}"
    query: "SELECT * FROM book;"
  become: true
  become_user: postgres
  register: healthcheck_result
  failed_when: healthcheck_result.failed | default(false) 
  # Если модуль пометил результат как failed=true — считаем таск упавшим.
  # Если флага failed нет (undefined) — считаем, что всё ок (false).