#SPDX-License-Identifier: MIT-0
---
# tasks file for db_backup
- name: Create directory for SQL scripts
  file:
  path: /opt/postgresql/sql
  state: directory
  owner: postgres
  group: postgres
  mode: '0750'

# crontab play
- name: Configure crontab user
# healthcheck crontab play

# Нода, где выполняется pg_dump + cron (Логирование)

- name: Configure backup host (scripts + cron)
  include_tasks: scripts.yml
  when: "'pg_backup_primary' in group_names"
