###########
# Bookboot #
###########
---
# Настроить
#- name: Set up cluster users
#  hosts: all
#  roles:
#    - cluster_users
#  vars_files:
#    - group_vars/cluster_users.yml
# playbooks/site.yml

- name: Base config for all nodes
  hosts: all
  become: true

  roles:
    - role: cluster_users
      tags: ['users']   

- name: Database nodes
  hosts: db
  become: true

  roles:
    - role: pg_install
      become_user: root

    - role: db_create
      become_user: postgres
