---
# 0. Удаляем дистрибьютивный PostgreSQL, если он уже успел установиться (postgresql-server-16.10-3.el10.aarch64 и др.), чтобы не путаться
- name: Remove distributive PostgreSQL packages (if present)
  ansible.builtin.dnf:
    name:
      - postgresql
      - postgresql-server
      - postgresql-contrib
      - postgresql-private-libs
      - libpq
    state: absent
    autoremove: true
  ignore_errors: true   # если каких-то пакетов нет — не падаем

# 1. Импортируем ключ PGDG
- name: Copy PGDG GPG key to target host
  ansible.builtin.copy:
    src: "PGDG-RPM-GPG-KEY-AARCH64-RHEL"
    dest: "/etc/pki/rpm-gpg/PGDG-RPM-GPG-KEY-AARCH64-RHEL"
    owner: root
    group: root
    mode: '0644'
- name: Import PGDG GPG key from local file
  ansible.builtin.rpm_key:
    state: present
    key: "/etc/pki/rpm-gpg/PGDG-RPM-GPG-KEY-AARCH64-RHEL"

# 2. Ставим репозиторий PGDG для EL-10 на aarch64
- name: Install PGDG repository for PostgreSQL {{ postgresql_version }} (EL-10 aarch64)
  ansible.builtin.dnf:
    name: "{{ pgdg_repo_url }}"
    state: present

# 3. Отключаем встроенный модуль postgresql от CentOS/RHEL, чтобы не тянуть системные пакеты
- name: Disable built-in PostgreSQL module from distributive
  ansible.builtin.command:
    cmd: "dnf -qy module disable postgresql"
  changed_when: false   # команда идемпотентна, нам не важно changed/unchanged
  failed_when: false    # если модулей нет — не считаем это ошибкой

# 4. Установка PostgreSQL из репозиториев PGDG
- name: Install PostgreSQL {{ postgresql_version }} server and required packages (PGDG)
  # Нужен для: установки PostgreSQL-сервера, contrib-модулей и драйвера для Ansible-модулей PostgreSQL
  ansible.builtin.dnf:
    name: "{{ postgresql_packages }}"
    state: present

# 5. Инициализация кластера БД (один раз)
- name: Initialize PostgreSQL {{ postgresql_version }} DB cluster (PGDG)
  ansible.builtin.command:
    cmd: "/usr/pgsql-{{ postgresql_version }}/bin/postgresql-{{ postgresql_version }}-setup initdb"
  args:
    # Файл PG_VERSION появляется только после успешного initdb
    creates: "{{ postgresql_data_dir }}/PG_VERSION"
  when: postgresql_initdb | bool
  # На CentOS/RHEL этот скрипт инициализации выполняет все необходимые действия
  # от имени пользователя postgres в нужной директории (по умолчанию /var/lib/pgsql/data).

# 6. Развёртывание postgresql.conf
- name: Deploy postgresql.conf
  ansible.builtin.template:
    src: postgresql.conf.j2
    dest: "{{ postgresql_data_dir }}/postgresql.conf"
    owner: postgres
    group: postgres
    mode: '0600'
  notify:
    - Restart PostgreSQL
    - PostgreSQL healthcheck

# 7. Развёртывание pg_hba.conf
- name: Deploy pg_hba.conf template
  ansible.builtin.template:
    src: pg_hba.conf.j2
    dest: "{{ postgresql_data_dir }}/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: '0600'
  notify: 
  - Restart PostgreSQL
  - PostgreSQL healthcheck

# 8. Запуск сервиса PostgreSQL и включение автозапуска
- name: Run PostgreSQL {{ postgresql_version }} server and make it enable on boot
  ansible.builtin.service:
    name: "{{ postgresql_service_name }}"
    state: started
    enabled: true  # Флаг на автозапуск при развертывании
    daemon_reload: true